.tree-view {
    position: relative;
}

.tree-node-container {
    border-left: 1px transparent;
    -webkit-padding-start: 20px;
    padding-left: 20px;
}

.tree-node {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    white-space: nowrap;
}

.tree-focus-el {
    text-decoration: none;
    outline: none;
    width: 100%;
    height: auto;
    display: inline-block;
}

.tree-focus-el:not(:focus) {
}

.tree-node > span {
    padding: 4px;
    margin: 1px;
    display: inline-block;
    border: 1px solid transparent;
}

.tree-node.selected > span {
    background-color: rgb(108, 162, 194);
    color: white;
}

.tree-focus-el:focus .tree-node.selected > span {
    background-color: rgb(38, 126, 177);
}

.tree-node > span:hover {
    background-color: rgb(115, 186, 228);
}

.tree-node-parent.collapsed > ul {
    display: none;
}

.tree-node-parent.collapsed::before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left:8px solid black;
}

.tree-node::before {
    content: " ";
    width: 16px;
    border: 8px solid transparent;
}

.tree-node-parent::before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top:8px solid black;
    display: inline-block;
    vertical-align: middle;
}

.tree-node > i {
    vertical-align: middle;
}