html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.ui-tree {
  position: relative;
  overflow: auto;
  height: 100%;
  display: inline-block;
  margin-right: 50px;
}

.tree-node i.material-icons {
  vertical-align: middle;
  margin-right: 4px;
  color: #4a7791;
}

.tree-node.selected > span > span > i.material-icons {
  color: white;
}