<template>
  <div id="app">
    <div v-uitree="treeOptions" class="tree-view"></div>
    <div v-uitree="treeOptions2" class="tree-view"></div>
  </div>
</template>

<script>
import uitree from './uitree.js'

export default {
  name: 'app',
  data () {
    var lots = [];
    for (var i=1; i<=1000; i++)
        lots[i-1] = { title: 'superchild' + i };

    return {
      treeOptions: {
        data: [{
          title: 'root',
          children: [{
              title: 'child1',
              children: [{
                  title: 'grandchild1-1'
              }, {
                  title: 'grandchild1-2'
              }]
          }, {
              title: 'child2',
              children: [{
                  title: 'grandchild2-1'
              }, {
                  title: 'grandchild2-2',
                  children: lots
              }]
          }]
        }],

        options: {
          initialLevel: 2,
          onSelect: this.onSelect,
          nodeRenderFn: (node, el) => {
            let span = document.createElement('span')
            let icon = document.createElement('i')
            icon.setAttribute('class', 'material-icons')
            icon.appendChild(document.createTextNode('face'))
            span.appendChild(icon)
            span.appendChild(document.createTextNode(node.title))
            return span
          }
        }
      },

      treeOptions2: {
        data: [{
          title: 'root',
          children: [{
              title: 'child1',
              children: [{
                  title: 'grandchild1-1'
              }, {
                  title: 'grandchild1-2'
              }]
          }, {
              title: 'child2',
              children: [{
                  title: 'grandchild2-1'
              }, {
                  title: 'grandchild2-2',
                  children: lots
              }]
          }]
        }]
      }
    }
  },
  methods: {
    onSelect(node, el) {
      console.log(node)
    }
  }
}
</script>

<style>
  html,
  body,
  #app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .tree-view {
    position: relative;
    height: 100%;
    overflow: auto;
    display: inline-block;
    margin-right: 50px;
    width: 40%;
  }
  i.material-icons {
    vertical-align: middle;
  }
</style>
