<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="../lib/ui-js-tree.js"></script>
    <script src="directive/uitree.js"></script>
    <script src="app.ctrl.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/ui-js-tree.css">

    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
      }
      .content-view,
      .left-tree {
        width: 50vw;
        height: 100vh;
      }
      .left-tree {
        flex-flow: column;
        display: flex;
      }
      .tree-view {
        flex: 1;
        display: flex;
        overflow: auto;
      }
      .content-view {
        left: 50vw;
        top: 0;
        position: absolute;
      }
      .filter-input {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
      }
      .tree-toolbar {
        height: 50px;
        flex-flow: row;
        align-items: center;
        display: flex;
      }
      .tree-toolbar > button {
        border: 0;
        border-radius: 30px;
        height: 30px;
        width: 30px;
        text-decoration: none;
        outline: none;
        text-align: center;
        margin-left: 10px;
        padding: 0;
        cursor: pointer;
      }
      .tree-toolbar > button:hover {
        background-color: rgb(115, 186, 228);
      }
      .tree-toolbar > button:focus {
        background-color: rgb(38, 126, 177);
      }
      .tree-toolbar > button > i {
        height: 30px;
        width: 30px;
        vertical-align: middle;
        line-height: 30px;
      }
    </style>
  </head>
  <body ng-controller="appCtrl">
    <div class="left-tree">
      <input class="filter-input" type="text" placeholder="type to filter tree view" ng-model="filterValue" ng-model-options="{allowInvalid: true, updateOn: 'default', debounce: 300}">
      <div class="tree-toolbar">
        <button ng-click="collapseAll()" title="Collapse all"><i class="material-icons">&#xE5CE;</i></button>
        <button ng-click="expandAll()" title="Expand all"><i class="material-icons">&#xE5CF;</i></button>
        <button ng-click="selectNode('superchild2')" title="Expand index">expand to</button>
        <button ng-click="reload()" title="rerender">reload</button>
      </div>
      <ui-js-tree-view class="tree-view" tree-data="treeData" on-select="onTreeNodeSelect" tree-options="treeOptions"></ui-js-tree-view>
    </div>

    <div class="content-view">
      <div class="selected-node-content">
        {{ nodeContent }}
      </div>
    </div>
  </body>
</html>
